<div class="jumbotron">
  <p class="lead">This is a simple CRUD application for online notes.</p>
  <hr class="my-4">
  <ul class="list-group">
    <p class="lead">Technologies I used : </p>
    <li class="list-group-item">NodeJS</li>
    <li class="list-group-item">ExpressJS</li>
    <li class="list-group-item">PassportJS</li>
    <li class="list-group-item">MongoDB</li>
    <li class="list-group-item">Mongoose ODM</li>
    <li class="list-group-item">Bootstrap 4</li>
    <li class="list-group-item">Git</li>
  </ul>
</div>